<div>
  <app-header></app-header>

  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class=" navigation-header">
          <span>General</span><i data-toggle="tooltip" data-placement="right" data-original-title="General"
          class=" ft-minus"></i>
        </li>
        <li class=" nav-item active"><a routerLink="/dashboard"><i class="ft-home"></i><span data-i18n="" class="menu-title">Dashboard</span><span class="tag tag tag-primary tag-pill float-xs-right mr-2">3</span></a></li>
        <li class=" nav-item"><a href="#"><i class="ft-monitor"></i><span data-i18n="" class="menu-title">Reports</span></a></li>
           
        
      </ul>
    </div>
  </div>


  <div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <!-- Analytics spakline & chartjs  -->
        
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="card">
            <div class="bs-callout-success callout-bordered mt-1">
                <div class="media">
                    <div class="media-left media-middle bg-info px-2">
                    <i class="fa fa-thumbs-o-up white font-medium-5"></i>
                    </div>
                    <div class="media-body p-1">
                    <strong>Congratulations!</strong>
                    <p>Cake chupa chups tootsie roll brownie pastry marzipan lollipop
                    sweet. Chocolate cake candy sweet macaroon sugar plum
                    tiramisu carrot cake. Cupcake ice cream gummies. Sugar
                    plum cupcake cotton candy jelly beans.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header no-border-bottom">
                <h4 class="card-title"></h4>
              </div>
              <div class="card-body collapse in">
                <div class="card-block">
                  <div class="row my-1">
                   <div class="col-md-4 offset-md-4 mb-2 mt-1" style="padding-top:50px;border:10px dashed #00a5a8; min-height:200px; text-align:center">
                     <a href="javascript:;" (click)="titleBox()">
                     <!--<a routerLink="/new">-->
                      <i class="fa fa-plus fa-3x"></i>
                      <h3>Create A New Flow</h3>
                      </a>
                   </div>
                  </div>
                  <div class="row">
                    
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <!--/ Analytics spakline & chartjs  -->
       
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
 
  <footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-xs-block d-md-inline-block">Copyright &copy; 2017
        <span target="_blank" class="text-bold-800 grey darken-2">Campus Ministry </span>, All rights
        reserved. </span>
      <!--<span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>-->
    </p>
  </footer>

  </div>

